<!DOCTYPE html>
<html>
<head>
    <title><%= storeData.NameEnglish %></title>
</head>
<body>
    <div class="container">
        <a href="<%= storeData.url %>"> <img src="<%= storeData.logo %>" alt="" srcset="" width="200"></a>
       
        <h1><%= storeData.NameHebrew %> - <%= storeData.NameEnglish %></h1>
        <p><%= storeData.Description %></p>
    </div>
    <h1>
        <%= storeData.visits %>
    </h1>
    
</body>
</html>
